<h1>Your Holidays</h1>
<div class='create-holidays'>
  <%= link_to 'Add a new holiday', new_holiday_path, class: 'btn btn-primary' %>
</div>
<hr>
<% @holidays.each do |holiday| %>
  <div class="holiday-card">
    <div class='holiday-status'>
      <p><%= holiday.deleted ? 'deleted' : 'approved'%></p>
    </div>
    <%= link_to holiday_events_path(holiday) do %>
      <h3>User: <%= holiday.user.email.split(/@/).first %></h3>
      <p>id: <%= holiday.id %></p>
      <p>Holiday date: <%= holiday.date.strftime('%A, %b %d') %></p>
      <p>Holiday created by: <%= holiday.creator.email.split(/@/).first %></p>
      <p>Updated: <%= holiday.updated_at.strftime('%a, %e %b %Y %H:%M:%S') %>, by <%= holiday.modifier.presence&.email&.split(/@/)&.first || holiday.creator.email.split(/@/).first %></p>
    <% end %>
    <div>
      <%= link_to "Edit", edit_holiday_path(holiday) %>
    </div>
    <div>
      <% unless holiday.deleted? %>
        <%= link_to "Delete", delete_holiday_path(holiday) %>
      <% end %>
    </div>
  </div>
<% end %>
